<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gehna.foodorder">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="Ziggy"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".restActivity"

            />
        <activity android:name=".cartActivity"

            />
        <activity android:name=".successActivity"

            ></activity>
    </application>

</manifest>